{% extends 'base.html' %}
{% block content %}
<ul class="friend-list">
    {% for friend in friends %}
    {% if friend.the_best %}
    <li class="friend-item">
        <h2 class="friend-name">{{ friend.name }}</h2>
        <div class="friend-info">Возраст: {{ friend.age }}</div>
        <div class="friend-info">Гендер: {{ friend.gender }}</div>
        <div class="info">
            {% autoescape off %}
            {{ friend.info|truncatewords:50 }}
            {% endautoescape %}
        </div>
        <a href="#"></a>
        {% if not forloop.last %}
        <hr class="friend-divider">
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}