{% extends 'base.html' %}
{% block content %}
<ul class="friend-list">
    {% for friend in friends %}
    {% if friend.is_the_best or not friend.is_the_best %}
    <li class="friend-item">
        <h2 class="friend-name">{{ friend.name }}</h2>
        <!--
        <div class="friend-info">{{ friend.description }}</div>
        <div class="friend-info">Гендер: {{ friend.gender }}</div>
        -->
        <div class="info">
            {% autoescape off %}
            {{ friend.description|truncatewords:50 }}
            {% endautoescape %}
        </div>
        <a href="{{ friend.get_absolute_url }}">Смотреть</a>
        {% if not forloop.last %}
        <hr class="friend-divider">
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}