<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<ul>
    {% for m in menu %}
    <li>
        <a href="{% url m.name %}" {% if forloop.last %}class="last-menu"{% endif %}>
            {{ m.title }}
        </a>
    </li>
    {% endfor %}
</ul>
<h1>{{ title }}</h1>
<ul>
    {% for friend in friends %}
    {% if friend.the_best %}
    <li>
        <h2>{{ friend.name }}</h2>
        <div>Возраст: {{ friend.age }}</div>
        <div>Гендер: {{ friend.gender }}</div>
        <a href="#"></a>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>